.gradient-custom-2 {

    background-color: #58af9c;
}

body {
    background-color:#d3d3d3;
}

#botao-cadastrar {
    float: right;
}

#faca-login {
    text-align: center;
}

.sublinhado-link {  		
    text-decoration: none;    	
} 